// Settings for grid
// --------------------------------------------------------
$grid_count: 6;
$grid_gutter: 20px;


// Calculate individual widths
// --------------------------------------------------------
$break_1: 480px;
$break_2: 600px;
$break_3: 768px;
$break_4: 1024px;
$break_5: 1280px;
